## -*- coding: utf-8 -*-
<div class="alert alert-success">
  <strong>Del 12 al 20 de septiembre:</strong> todos mis posts sobre la Feria del Libro en la etiqueta <a href="/etiquetas/feria-del-libro-de-santa-fe-2015/">Feria del Libro de Santa Fe 2015</a>.
</div>

<hr />
