## -*- coding: utf-8 -*-
<%inherit file="post.tmpl"/>

<%block name="note">
<p class="alert alert-warning">
  Este post fue migrado de un blog hecho con Wordpress. Si se ve mal, dejame un comentario y lo arreglo.
</p>
</%block>
